<!DOCTYPE html>
<html>
  <body>
    <header>
      <link rel="stylesheet" href="static/mainstyle.css" />
      <meta charset="UTF-8">
      <meta name="author1" content="Christopher Hunt">
      <meta name="author2" content="Shanna Hutchins">
      <title>TelemeterED</title>
    </header>

      <div class="wrapper">

        <div class="navbar">
            <ul class="menu">
              
              <li>
                <a href="/">Home<img src="../static/pictures/glyphicons/png/glyphicons-21-home.png" /></a>
              </li>

              <li>
                <a href="/about">About<img src="../static/pictures/glyphicons/png/glyphicons-196-info-sign.png" /></a>
              </li>

              <li>
                <a href="/partners">Partners<img src="../static/pictures/glyphicons/png/glyphicons-609-newspaper.png" /></a>
              </li>

              <li>
                <a href="/contact">Contact<img src="../static/pictures/glyphicons/png/glyphicons-11-envelope.png" /></a>
              </li>
              
              <li>
                <a href="/workbook">Workbook<img src="../static/pictures/glyphicons/png/glyphicons-88-log-book.png" /></a>
              </li>

              <li>
                <a href="/search">Watch<img src="../static/pictures/glyphicons/png/glyphicons-9-film.png" /></a>
              </li>

              <li>
                <a href="/portal">Portal<img src="../static/pictures/glyphicons/png/glyphicons-45-keys.png" /></a>
              </li>

            </ul>
        </div>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
