<link rel="stylesheet" href="static/mainstyle.css" />

{% extends "navbar.html" %}
{% block content %}
<div>
		
						
								<h1>Search</h1>
					
	
						<div class="content_area">
						<h1>Search</h1>
								<div>
										<iframe width="640" height="360" src="https://www.youtube.com/embed/6pxRHBw-k8M" frameborder="0" allowfullscreen></iframe>


										
								</div>
								<div class="content">
										<form action="/search" method="GET">
												<input type="text" name="search" placeholder="Search Videos" autocomplete="on" autofocus="autofocus" />

										    	<input type="submit" value="Search"></input>
										    
										<div class="button">
										<button type="submit">Find</button>
										<h4>HEy Chris what kind of button do you want</h4>
										</div>
										</form>
								</div>
						</div>
			
		
</div>
{% endblock %}

