{% extends "navbar.html" %}
{% block content %}
<div class="masthead">
	<div class="top-margin">
	</div>
	<div class="contentarea1">
	<div class="content1">
		<h2>Search</h2>
		<div style="display: block; margin: auto;">
			<iframe width="640" height="360" src="https://www.youtube.com/embed/zS9Ajj06Urs" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="content">
				<form action="/search" method="GET">
				<input type="text" name="search" placeholder="Search Videos" autocomplete="on" autofocus="autofocus" />
				<input type="submit" value="Search"></input>
			</form>
			<br>
			<div>
				<h2>Video data</h2>
				{% for video in videos %}
					<h4>Title:{{ video }}</h4>
				{% endfor %}
			</div>
		</div>
	</div>
	</div>	
</div>
{% endblock %}
